/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06-Oct-2015, 16:07:27
    Author     : Alexander Grey
*/

/*
    CSS for the footer and other shared/global CSS
*/

html
{
    background-color: #191818;
    color: #FFFFFF;
}

a
{
    color: #08B3F5;
    text-decoration: none;
}

a:hover
{
    color: #3DC3F7;
    text-decoration: underline;
}

.error
{
    color: #FF1010;
    display: none;
}